.button {
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #383838;
}

.button:hover {
  outline: 1px solid #383838;
}

.active {
  outline: 1px solid #383838;
}